/* Basic form styling */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  /* Styling for each form row */
  form .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  /* Label styling */
  form label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
    min-width: 100px;
    text-align: right; /* Align text to the right */
  }
  
  /* Input and textarea styling */
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Error message styling */
  form .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Submit button styling */
  form button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Focus states for inputs */
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="tel"]:focus,
  form textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    form {
      padding: 10px;
    }
  
    form .form-row {
      flex-direction: column;
      align-items: flex-start;
    }
  
    form label {
      margin-bottom: 5px;
      text-align: left; /* Align text to the left for smaller screens */
    }
  
    form button[type="submit"] {
      width: 100%;
    }
  }